@import "https://use.fontawesome.com/releases/v6.1.2/css/all.css";

ul{
    display: inline-block;
}

li{
    display: inline-block;
    list-style: none;
    border: 1px solid EEEEEE;
    border-radius: 180%;
    text-align: center;
    padding: 10px;
    background-color: #EEEEEE;
    margin: 2px;
}

a{
    border-radius: 50%;
}