@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,100&display=swap');

body{
    background-color: #F6E0B5;
    font-family: Monserat, sans-serif;
    box-sizing: border-box;
}

section{
    display: flex;
    padding: 50px;
    justify-content: center;

}

.pictures{
    max-width: 70vw;
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    font-weight: bold;
}

.pictures div{
    max-width: 30vw;
    box-shadow: 4px 5px 20px 7px;
    border: 1px solid black;
    border-radius: 20px;
    overflow: hidden
}

.pictures div img{
    width: 40vw;
    height: 30vh;
    object-fit: fill;
    overflow: hidden
}

.pictures div p{
    background-color: #66545E;
    color: white;
    padding: 10px;
    font-size: 20px;
}




.information{
    color: #66545E;
    font-size: 20px;
}

.information p{
    margin-bottom: 20px;
}

.information ul li{
    margin-bottom: 10px;
}

.information ul li a{
    margin-right: 10px;
    background-color: #66545E;
    color: #F6E0B5;
    border: none;
    border-radius: 100%;
    padding: 3px;
}