@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* тук си казваме че искаме да използва шрифт 'Anton', който изтеглихме от интернет. Ако той не проработи ще използваме 'Verdana'. Първия няма да проработи, защото не сме го свързали с файла, за това на страницата ни ще се появи 'Verdana'.  */
/* body{
    font-family: 'Anton', 'Verdana';
} */


/* За до проработи горното форматиране с шрифт 'Anton', трябва да направим следното */
/* Когато имаме шрифт с формат ttf, във format трябва да напишем 'truetype'. Във всички останали случаи трябва да напишем отново формата на шрифта. */
/* @font-face{
    font-family: 'Anton';
    src: url(fonts/Anton-Regular.ttf) format('truetype');
}
body{
    font-family: 'Anton';
} */


/* когато вместо да теглим шрифта, директно използваме линка от интернет за самия шрифт (линка от <link> от сайта е копиран в head-a на HTML кода или в началото на CSS е копиран шрифта от @import от сайта) */

body{
    font-family: 'Roboto';
}

