#wrapper {
    Width: 700px;
    Height: 730px;
    Border: 1px solid #000000;
    margin: center;
    Padding: 10px 20px;
    background-color: #a6e1ec;
}

img{
    Width: 200px;
    margin-right: 10px;
    align-items: vertical middle;
}

.text {
    color: #3f51b5;
    padding-left: 20px;
    display: inline-block;
    margin-top: ;
}

li {
    width: 595px;
    padding: 10px;
    margin-bottom: 5px;
    font-size: 14px;
    border: 1px solid #000000;
}